<html>

<head>
    <meta charset="utf-8">
    <title>
        AceDroidX's Server
    </title>
    <link rel="stylesheet" href="./mdi/material-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@1.5.16/dist/vuetify.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dplayer@1.25.0/dist/DPlayer.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118704626-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-118704626-1');
    </script>
    <style>
        .html {
            font-family: Noto Sans SC;
        }

        .v-card {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
        }

        .flodiv1 {
            position: absolute;
            z-index: 100;
            /* background-color: white; */
            color: white;
            padding: 10px;
            opacity: 0.75
        }

        body::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" class="hide-overflow" style="position: relative;height: 100%;">
        <v-navigation-drawer v-model="drawer" absolute temporary style="z-index: 200">
            <v-list>
                <v-list-tile avatar onclick="window.location.href='https://AceDroidX.github.io/?f=gp'">
                    <v-list-tile-avatar>
                        <img src="https://avatars1.githubusercontent.com/u/15519693?s=300">
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title>AceDroidX</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
            <v-list dense>
                <v-divider></v-divider>
                <v-list-tile v-for="item in items" :key="item.id" @click=itemclick(item.id)>
                    <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <!--<i class="material-icons flodiv1" :style="visibility" @click.stop="drawer = !drawer">menu</i>-->
        <!--<i class="material-icons flodiv1" :style="visibility" @click.stop="drawer = !drawer">menu</i>-->
        <img class="material-icons flodiv1" src="https://avatars1.githubusercontent.com/u/15519693?s=300" width="60"
            height="60" style="left: 0px; top: 0px;" :style="visibility" @click.stop="drawer = !drawer">
        <!-- <button class="flodiv1" v-on:click.stop="drawer = !drawer" >test</button> -->
        <!-- <v-toolbar-side-icon v-on:click.stop="drawer = !drawer" class="flodiv1"></v-toolbar-side-icon> -->
        <div id="dplayer"></div>
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@1.5.16/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flv.js@1.5.0/dist/flv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dplayer@1.25.0/dist/DPlayer.min.js"></script>
    <script>
        const router = new VueRouter({
            mode: 'history',
        })
        var app = new Vue({
            el: '#app',
            router,
            data: {
                drawer: null,
                items: [
                    { id: 0, title: 'Home', icon: 'dashboard', link: "https://AceDroidX.github.io/?f=gp" },
                    { id: 1, title: 'About', icon: 'question_answer', link: "https://AceDroidX.github.io/about?f=gp" },
                    { id: 3, title: 'Change URL', icon: 'menu' }
                ],
                dp: null,
                url: 'http://localhost/test/index.m3u8',
                type: 'hls',
                appname: 'flv',
                streamname: null,
                visibility: '',
                isload: false
            },
            mounted: function () {
                this.$nextTick(function () {
                    // Code that will run only after the
                    // entire view has been rendered
                    if (this.$route.query.url != null) {
                        this.url = this.$route.query.url
                    }
                    if (this.$route.query.app != null) this.appname = this.$route.query.app
                    this.streamname = this.$route.query.stream
                    if (this.streamname != null) {
                        this.type = 'flv'
                        this.url = this.url+'?app=' + this.appname + '&stream=' + this.streamname
                    }
                    this.dp = new DPlayer({
                        container: document.getElementById('dplayer'),
                        live: false,
                        autoplay: true,
                        video: {
                            url: this.url,
                            type: this.type
                        },
                        contextmenu: [
                            {
                                text: 'Open Menu',
                                click: (player) => {
                                    this.drawer = !this.drawer
                                }
                            },
                            {
                                text: 'Change URL',
                                click: (player) => {
                                    this.changeurl()
                                }
                            }
                        ],
                    });
                    this.dp.on('contextmenu_show', () => {
                        this.visibility = 'visibility: visible;'
                    });
                    this.dp.on('contextmenu_hide', () => {
                        this.visibility = 'visibility: hidden;'
                    });
                    setTimeout(() => { this.visibility = 'visibility: hidden;' }, 3000)
                    this.isload = true
                    setTimeout(() => { this.dp.play() }, 3000)
                })
            },
            methods: {
                itemclick: function (id) {
                    if (this.items[id].link == null) {
                        this.changeurl()
                        return
                    }
                    window.open(this.items[id].link)
                },
                cardclick: function (id) {
                    window.open(this.cardscpd[id].link)
                },
                changeurl: function () {
                    var tmp = prompt("输入播放地址", this.url)
                    if (tmp != null) this.url = tmp
                    this.dp.switchVideo({ url: this.url }, {})
                }
            },
            watch: {
                url: function (newvalue, oldvalue) {
                    //if (this.isload) {this.dp.switchVideo({ url: newvalue }, {})}
                }
            },
        })
    </script>
</body>

</html>